@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-inter flex flex-col min-h-screen;
  }
}

@layer utilities {
  



 /* Carousel */

  .carousel {
    @apply flex flex-col-reverse h-[700px];
  }

  .carousel .control-dots {
    @apply static !important;
  }

  .carousel .control-dots .dot {
    @apply w-[10px] h-[10px] bg-[#D9D9D9] rounded-full bottom-0 !important;
  }

  .carousel .control-dots .dot.selected {
    @apply bg-[#475467] !important;
  }



  

  

}


/* Profile Layout css */
@media screen and (min-width: 801px) {

  .settings-options-list::after {
    background-color: #E43030;
    content: "";
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
  }
}

@media screen and (max-width: 800px) {
  .profile-menu::after {
    background-color: #E43030;
    content: "";
    position:absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
}


/* Profile page css */

@media screen and (max-width: 800px) {

.expanded-container::after{
  background-color: #E43030;
  content: "";
  position:absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
}
}

@media screen and (max-width: 801px) {
  .expanded-container::after {
    background-color: #E43030;
    content: "";
    position:absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
}


/* SEARCHEDPRODUCT MODAL */

/* Slide-in animations */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply slide-in animations to respective components */
.slide-in-left {
  animation: slideFromLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideFromRight 0.5s forwards;
}